<template>
  <div class="relative flex flex-col w-full flex-1 pt-4">
    <div class=" fixed top-0 z-20 w-full">
      <div class="h-1.25 bg-gradient-to-r from-green-500 to-blue" />
      <div class="bg-white rounded-b-xl h-16 px-5 shadow-header flex justify-end items-center">
        <Link :link="loginLink" />
      </div>
    </div>
    <div class="relative h-full bg-gradient-to-br from-gray-lightest to-green-100 -z-1 pt-8 overflow-hidden pb-8 md:pb-20">
      <h1 class="text-center text-h1 font-medium w-full p-5 whitespace-pre-line text-gray-darker z-10">
        Deine Job
        website
      </h1>
      <img src="~/assets/images/agreement-mobile.svg" class="w-full md:hidden">
      <img src="~/assets/images/agreement.svg" class="w-full hidden md:block">
      <div class="custom-shape-divider-bottom-1633412939">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill" />
        </svg>
      </div>
    </div>
    <div class="rounded-t-xl py-6 px-5 shadow-header-top -mt-12 bg-white fixed bottom-0 z-20 w-full">
      <Button text="Kostenlos Registrieren" class="w-full" />
    </div>
  </div>
</template>

<script>
import Button from '@/components/Common/Button'
import Link from '@/components/Common/Link'
import { ROUTES } from '@/utils/constants'

export default {
  name: 'DefaultHeader',
  components: {
    Link,
    Button
  },
  computed: {
    loginLink () {
      return {
        text: 'Login',
        href: ROUTES.AUTH.LOGIN
      }
    }
  }
}
</script>

<style>
.custom-shape-divider-bottom-1633412939 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1633412939 svg {
    position: relative;
    display: block;
    width: calc(205% + 1.3px);
    height: 137px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1633412939 .shape-fill {
    fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1633412939 svg {
        width: calc(172% + 1.3px);
        height: 100px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1633412939 svg {
        width: calc(192% + 1.3px);
        height: 76px;
    }
}
</style>
