<template>
  <button
    class="p-3 bg-gradient-to-r text-center font-semibold text-body rounded-xl"
    :class="[
      {
        'from-green-500 to-blue hover:from-green-600 hover:to-blue-darker text-green-100 focus:from-green-700 focus:to-blue-darkest focus:ring-2 focus:ring-blue-darker': !disabled,
        'bg-gradient-to-r from-green-200 to-blue-light text-green-500': disabled
      }
    ]"
  >
    {{ text }}
    <slot />
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
