<template>
  <a :href="link.href" class="text-green-500 font-semibold text-body hover:text-green-400 hover:underline">
    {{ link.text }}
  </a>
</template>

<script>
export default {
  name: 'Link',
  props: {
    link: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
