<template>
  <div class="flex overflow-hidden px-3">
    <div
      v-for="(tab, index) in tabs"
      :ref="`tab-${index}`"
      :key="index"
      class="font-bold border-gray-lighter px-8 py-3 cursor-pointer"
      :class="[
        {
          'rounded-l-xl': index === 0,
          'rounded-r-xl': index === tabs.length - 1,
          'bg-green-300 text-green-100': value === index,
          'border text-green-500': value !== index,
        }
      ]"
      @click="selectTab(index)"
    >
      {{ tab }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'TabMenu',
  props: {
    value: {
      type: null,
      default: null
    },
    tabs: {
      type: Array,
      required: true
    }
  },
  methods: {
    selectTab (index) {
      this.$emit('input', index)
      this.$refs[`tab-${index}`][0].scrollIntoView({
        behavior: 'smooth',
        block: 'nearest',
        inline: 'center'
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
