<template>
  <div class="h-full w-full">
    <DefaultHeader />
    <div class="w-full h-full mb-32">
      <Nuxt />
    </div>
  </div>
</template>

<script>
import DefaultHeader from '~/components/Headers/DefaultHeader'

export default {
  name: 'Intro',
  components: {
    DefaultHeader
  }
}
</script>
