<template>
  <div class="flex flex-col items-center">
    <div class="w-full py-7 flex flex-col md:items-center">
      <TabMenu v-model="activeTab" :tabs="tabs" />
    </div>
    <div class="flex flex-col py-7 gap-4 px-4 text-center">
      <h2 class="text-gray text-h2 mb-4 px-6">
        {{ tabContents[activeTab].title }}
      </h2>
    </div>
    <div class="w-full flex flex-col bg-no-repeat bg-top pt-20" :style="{backgroundImage: `url(${tabContents[activeTab].step1Image})`}">
      <div class="flex items-end gap-x-5">
        <h1 class="text-gray-light text-display">
          1.
        </h1>
        <h3 class="text-gray-light text-h3 mb-6">
          {{ tabContents[activeTab].step1Text }}
        </h3>
      </div>
    </div>
    <div class="w-full relative z-0 py-16 md:py-40 bg-gradient-to-r from-green-100 to-gray-lightest">
      <div class="custom-shape-divider-top-1633413856">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill" />
        </svg>
      </div>
      <div class="w-full flex flex-col bg-no-repeat bg-bottom pb-32" :style="{backgroundImage: `url(${tabContents[activeTab].step2Image})`}">
        <div class="flex items-end gap-x-5">
          <h1 class="text-gray-light text-display ml-6">
            2.
          </h1>
          <h3 class="text-gray-light text-h3 mb-6">
            {{ tabContents[activeTab].step2Text }}
          </h3>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1633413604">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill" />
        </svg>
      </div>
    </div>
    <div class="relative w-full flex flex-col bg-no-repeat bg-bottom pb-52" :style="{backgroundImage: `url(${tabContents[activeTab].step3Image})`}">
      <div class="rounded-full bg-flesh absolute top-0 -left-8 h-80 w-80 -z-1" />
      <div class="flex items-end gap-x-5">
        <h1 class="text-gray-light text-display ml-10">
          3.
        </h1>
        <h3 class="text-gray-light text-h3 mb-10">
          {{ tabContents[activeTab].step3Text }}
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
import TabMenu from '@/components/Common/TabMenu'
export default {
  components: {
    TabMenu
  },
  data () {
    return {
      activeTab: 0
    }
  },
  computed: {
    tabs () {
      return ['Arbeitnehmer', 'Arbeitgeber', 'Temporärbüro']
    },
    curveBackgroundImg () {
      return require('~/assets/images/intro-tab-images/step-2-bg.svg')
    },
    tabContents () {
      return [
        {
          title: 'Drei einfache Schritte zu deinem neuen Job',
          step1Text: 'Erstellen dein Lebenslauf',
          step2Text: 'Erstellen dein Lebenslauf',
          step3Text: 'Mit nur einem Klick bewerben',
          step1Image: require('~/assets/images/intro-tab-images/step-1.svg'),
          step2Image: require('~/assets/images/intro-tab-images/step-2a.svg'),
          step3Image: require('~/assets/images/intro-tab-images/step-3a.svg')
        },
        {
          title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
          step1Text: 'Erstellen dein Lebenslauf',
          step2Text: 'Erstellen dein Lebenslauf',
          step3Text: 'Mit nur einem Klick bewerben',
          step1Image: require('~/assets/images/intro-tab-images/step-1.svg'),
          step2Image: require('~/assets/images/intro-tab-images/step-2b.svg'),
          step3Image: require('~/assets/images/intro-tab-images/step-3b.svg')
        },
        {
          title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
          step1Text: 'Erstellen dein Lebenslauf',
          step2Text: 'Erstellen dein Lebenslauf',
          step3Text: 'Mit nur einem Klick bewerben',
          step1Image: require('~/assets/images/intro-tab-images/step-1.svg'),
          step2Image: require('~/assets/images/intro-tab-images/step-2c.svg'),
          step3Image: require('~/assets/images/intro-tab-images/step-3c.svg')
        }
      ]
    }
  }
}
</script>

<style scoped>
.custom-shape-divider-bottom-1633413604 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1633413604 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1633413604 .shape-fill {
    fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1633413604 svg {
        width: calc(115% + 1.3px);
        height: 100px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1633413604 svg {
        width: calc(100% + 1.3px);
        height: 46px;
    }
}

.custom-shape-divider-top-1633413856 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1633413856 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1633413856 .shape-fill {
    fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1633413856 svg {
        width: calc(115% + 1.3px);
        height: 84px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1633413856 svg {
        width: calc(115% + 1.3px);
        height: 35px;
    }
}
</style>
